APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=star5ott.cshkm543nyjd.ap-south-1.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=amazepays_uat
DB_USERNAME=admin
DB_PASSWORD="Star5ott123"


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=smtp.zoho.in
# MAIL_PORT=465
# MAIL_USERNAME=Amazepays
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=SSL
# MAIL_FROM_ADDRESS=it@amazepays.in
# MAIL_FROM_NAME="${APP_NAME}"


MAIL_DRIVER=smtp
MAIL_HOST=smtppro.zoho.in
MAIL_PORT=465
MAIL_USERNAME=it@amazepays.in
MAIL_PASSWORD=TydbGQEZVqhN
MAIL_ENCRYPTION=ssl

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# ENCRYPTION_KEY="1234567890asdffg0987654321"

# this is latest one encryption

ENCRYPTION_KEY="Vfa6Zpd0XaC2AHe8oG8SpZuyAGyU+pEfyO9gqMwU9E8="
CCAVENUE_MERCHANT_ID=2465353
CCAVENUE_ACCESS_CODE='ATRV04KE94CM37VRMC'
CCAVENUE_WORKING_KEY='D0549D04E9862055170C5EC78FF2E150'
CCAVENUE_LINK='https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction'

GST_NUMBER='27AAFCF2328E1ZX'
COMPANY_NAME='Frenetic India Services Private Limited'
COMPANY_ADDRESS='98-103, 4 Floor, Aditya Industrial Estate Co-op Premises Ltd Mindspace Behind Evershine Mall Off Link Road Malad West Mumbai 400064.'
COMPANY_CIN='U72900MH2022PTC391272'
COMPANY_PAN='AAFCF2328E'
COMPANY_BANK_ACCOUNT_NUMBER='8747187374'
COMPANY_BANK_IFSC_CODE='KKBK0001413'
COMPANY_BANK_BRANCH='Goregaon West'
COMPANY_BANK_NAME='KOTAK BANK'
COMPANY_EMAIL='support@amazepays.in'
DEFAULT_SUBJECT='Amazepays - Order Confirmation'
GIFT_SUBJECT='Amazepays - You Received A Gift Card'
SMS_API_URL='http://route.digimiles.in/bulksms/bulksms'
SMS_USER_NAME='DG35-frenetic'
SMS_USER_PASSWORD='digimile'
SMS_SOURCE='FRNTIC'
SMS_ENTITY_ID='1101633530000071318'
SMS_TEMP_ID='1107169019646710710'
SMS_OTP_TEMP_ID='1107173936005805498'
SMS_TMID='1101633530000071318,1602100000000009244'
SEND_MAIL_FROM='it@amazepays.in'
COMPANY_WEBSITE='https://amazepays.in/'
COMPANY_CONTACT_NO='9324449485'
COMPANY_NEW_WEBSITE_LINK='https://theamazeindia.com'
COMPANY_NEW_WEBSITE_LINK_ABOUT_US='https://theamazeindia.com/about.html'

SYNC_ONLY_THRESHOLD=4
RETRY_COUNT=0
MAX_RETRIES=10
RETRY_INTERVAL=40

CCAVENUE_NUMERIC_CODE=356
CCAVENUE_CURRENCY=INR
CCAVENUE_LANGUAGE=EN
SENTRY_LARAVEL_DSN=https://2b862c9e5772dc8d53b893240069da8b@o4508250005962752.ingest.us.sentry.io/4508250016841728
SENTRY_TRACES_SAMPLE_RATE=1.0

FACEBOOK_URL=https://www.facebook.com/yourpage
LINKEDIN_URL=https://www.linkedin.com/company/amazepays/
INSTAGRAM_URL=https://www.instagram.com/yourpage
COMPANY_BRAND= Amazepays


CONTACT_US_ADMIN_EMAIL=support@amazepays.in
CONTACT_US_IT_ADMIN_EMAIL=it@amazepays.in

ORDER_FAILURE_ADMIN_EMAIL=support@amazepays.in
ORDER_FAILURE_IT_ADMIN_EMAIL=it@amazepays.in
