includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 5
  paths:
    - app
    - database
    - routes
  tmpDir: storage/framework/phpstan
  reportUnmatchedIgnoredErrors: false
  ignoreErrors: []

